body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;

}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    background-color: #ff00ff;
    display: flex;
}